

<div id="home-img-container">
  <a href='/dish' id="link-to-food"><img class="main-wlcm-img" src="assets/chilly-chaudry-blue.png" alt="main-image" /></a>
</div>


<script>
window.onload = function (){

  //auto clicks forward
  function clickLink () {
    console.log("click link")
    document.getElementById("link-to-food").click();
  };

  setTimeout(clickLink, 3000)

};
</script>
