
<h2>Chilly Chaudry</h2>
<p>Nairobi's Finest Indian Cuisine!</p>
<div id="home-img-container">
  <img src="assets/chilly-chaudry-blue.png" alt="main-image" />
</div>

<!-- <strong>to do</strong>

<ul>
  <li>  add / subtraction to orders</li>
  <li>stripe integrateion</li>
  <li>email system</li>
</ul> -->
