<div>
  Login Page
</div>
<div>
  <form action="/sessions" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="user_name" placeholder="User name">
    <input type="password" name="password" placeholder="Password">
    <button>Submit</button>
  </form>
</div>
