<div class="todolist" style="margin: 50px;">
  <h1>TO DO LIST</h1>

  <p>+ sort out the modal window</p>
  <p>+ style the login section responsively</p>
  <p>+ sort out the srolling section</p>
  <p>+ color scheme</p>
  <p>+ payment system</p>
  <p>+ email system</p>
  <p>+ item counter for order list in mobile format</p>
</div>
