// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#mainContainer{
  // margin: 4em auto;
  padding-top: 5em;
  margin: 0 auto;
  // border: 1px black solid;
  width:960px;
  background-color: #eeedec;
  // margin-top:100px;
}

#logged-in-status{
  float: right;
  color: white;
}

#main-nav-list{
 width:65%;
}

nav li:hover {
  color: black;
  //   -webkit-box-shadow: 0 8px 7px #777;
  // -moz-box-shadow: 0 8px 7px #777;
  // box-shadow: 0 8px 7px #777;
  border:black -2px solid;
}

nav li{
  color:#771100;
  display:inline-block;
  border: solid white 1px;
  padding:5px;
  text-align: center;
  margin-top:20px;
  margin-left: 10px;
  width: 100px;
  background-color: white;
  border-radius: 2px;
}

nav ul{

}

nav{
  // height:4em;
  // background:#ded29e;
  // position: fixed;
  // width: 100%;
  // padding-top: 30px;
}

.navContainer {
  height:4em;
  background:#26587f;
  position: fixed;
  width: 100%;
}
