// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color:#eeedec;
}

#mainContainer{
  padding-top: 64px;
  // margin: 0 auto;
  // width:960px;
  // background-color: #eeedec;
}

nav li:hover {
  color: black;
  border:black -2px solid;
}

.main-wlcm-img{
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

nav li{
  color:#771100;
  display:inline-block;
  border: solid white 1px;
  padding:5px;
  text-align: center;
  margin-top:20px;
  margin-left: 10px;
  width: 100px;
  background-color: white;
  border-radius: 2px;
}

#home-page-orders{
  font-weight: bold;
  color: red;
}

#logged-in-status{
  margin-left:25px;
  color: white;
}
#nav-img{
  height:50px;
  display: inline-block;
  float: right;
}

#home-img-container{
  height: 100vh;
  background-color: #081f65;
}
.navContainer {
  height:4em;
  background:#081f65;
  position: fixed;
  width: 100%;
}
