a {
 color: #8e0513;
}
/* order box */
#order-list-container{
  position:fixed;
  padding:1em;
  border-radius: 10px;
  width: 45vw;
  margin-left: 2%;
  font-size: 17px;
  height: 75%;
  line-height: 200%;
  background-color: white;
  overflow: auto;
  -webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}

#order-list-title{
  height: 45px;
  background-color:#081f65;
  border-radius: 5px;
  padding:5px;
  /*padding-left:50px;*/
  color: white;
}
#order-list-title span{
  margin-left: 10px;
}

#order-count, #burger-menu{
  display:none;
}

#order-list{
  padding-top: 1em;
  padding-bottom: 1em;
  overflow: auto;
}

#order{
  list-style-type: none;
}

#order-item-cost{
  color: red;
  font-weight: bolder;
}

.order-total{
  bottom:1em;
  right:1em;
  display: inline;
}
.plus-item{
  color: green;
}
.subtract-item{
  color: red
}
.delete-item{

}
.purchase-button{
  /*display: inline-block;
  float: right;*/
}

#dishtypes-menu-selector {
  padding:1em;
  border-radius: 3px;
  list-style-type: none;
  line-height: 200%;
  color:black;
}

#dishtypes-menu-selector li {
  list-style-type: none;
  color:black;
  display: inline;
}

#dishtypes-menu-selector li :hover{
  list-style-type: none;
  background: #eee;
  cursor: pointer;
}

.dish-type-title{
  font-weight: bolder;
  font-size: 25px;
  color: #FF0000;
  margin-left:2%;
}

.menu-container{
  margin-left: 6%;
}
.menu-item{
  padding: 0.5em;
  margin: 10px;
  border-radius: 5px
}

.menu-item-name{
  font-size: 20px;
  font-weight: bolder;
}

.menu-item-description{
  padding:10px;
  margin-top: 10px;
}

.menu-item-price-span{
  font-weight: 600;
}

.add-to-button{
  margin-top: 10px;
  bottom: 1em;
}

#underliner{
  border: black solid 1px;
  margin-top:10px;
}

.add-item-img,
.minus-item-img{
  max-height: 15px;
  margin-left:15px;
}


/*#myBtn, #cancel-order{
  -webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;

}*/
