<!DOCTYPE html>
<html>
<head>
  <title>Chilly Chaudry</title>
  <link rel="icon" href="assets/chilli.png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="mainContainer">


  <nav>
    <ul>
      <li><a href="/">About Us</a></li>
      <li><a href="/dish">Menu</a></li>
    </ul>

  </nav>


<%= yield %>
  </div>
</body>
</html>
